version: 1
config:
  - type: physical
    name: ens2 
    subnets:
      - type: static
        address: {{ ipaddress }}
        netmask: 255.255.255.0
        gateway: 192.168.2.1
        dns_nameservers:
          - 192.168.2.1
        dns_search:
          - northstate.net
